extends layout
block content
  div(class='divtodo')
    h1= 'ASISTENCIA (TUDS) CLASES ONLINE'
    h1= 'LOGIN'
    br
    
 

    form(action="/login/login", method="post", id="formulario")
      p= 'Usuariod:'
      input(type="email", id="eMail", name="eMail")
      p= 'Password:'
      input(type="password", id="password", name="password")
      br
      br
      input(type="submit", value="Entrar")
      br
      br
      
      a(href="/personas/registrarse")= "Registrarse"  
 


    
 

